<configuration>
	<connectionStrings>
		<add name="ClassSchedDBConnectionString"
			 connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jeffc\OneDrive\Documents\DBClassScheduler.mdf;Integrated Security=True;Connect Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>